.menu-form-wrapper{
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.avatar{
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0 0 0;
    background: bisque;
    background-image: url("./data/avatar.jpg");
    background-size:cover;
}

.menu-content{
    position: relative;
    width: 100%;
    height: 420px;
    bottom: 0;
    background: #c2d7cf;
}

.navigation-block{
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-align: center;
}
