.menu-link,
.menu-link-active {
    width: 300px;
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
    color: #f4f4f5;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
}

.menu-link {
    width: 300px;
    color: #f4f4f5;
}

.menu-link-active {
    color: #f4f4f5;
    text-align: center;
}

.menu-link:hover,
.menu-link-active:hover {
    color: #033d03;
    text-decoration: none;
}
