.title{
    position: relative;
    top: 130px;
    width: 100%;
    height: 150px;
}
.home-text{
    position: relative;
    width: 90%;
    margin-left: 50px;
    margin-top: 0;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 100px;
    color: #ffffff;
    text-align: left;
 }